* {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 1170px;
	margin: auto;
}



.nav-area {
	float: right;
	list-style: none;
	margin-top: -70px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 15px 25px;
	font-family: poppins;
	font-size: 24px;
	text-align: top;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}



/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	img {
		width: 20px;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	
}
